*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
body{background: #eff1f0;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 18.0rem;
	height: 1.25rem;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.25rem;
	width: 1.975rem;
}
header h1{
	color: #fff;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	font-size: 0.45rem;
	font-weight: bold;
}
header p{	
	font-size: 0.45rem;
	height: 100%;
	padding-left: 0.875rem;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 0.2rem;
	line-height: 1.25rem;
	background: url(../image/phone.png) no-repeat 0 center;
	background-size: 0.55rem 0.65rem;
	padding-top: 0.125rem
}
.banner{
	width: 18.0rem;
	height: 15.65rem;
	overflow: hidden;
}
.banner img{
	width: 18.0rem;
}
/*cont*/
.cont{
	width: 18.0rem;
	height: 46.425rem;
	background: url(../image/cont_bg.jpg) no-repeat center;
	background-size: 18.0rem 46.425rem;
	position: relative;
}
.bx{
	width: 4.7rem;
}
.bx1{
	position: absolute;
	right: 0.875rem;
	top: 2.5rem;
	width: 4.7rem;
	animation:run 1s forwards infinite alternate;
}
@keyframes run{
		0%{
			transform:scale(1)
		}
		100%{
			transform:scale(1.15)
		}
	}
.bx2{
	position: absolute;
	left: 1.375rem;
	top: 8.875rem;
	width: 4.7rem;
	animation:run 0.8s forwards infinite alternate;
}
.bx3{
	position: absolute;
	right: 1.375rem;
	top: 13.25rem;
	width: 4.7rem;
	animation:run 0.6s forwards infinite alternate;
}
.bx4{
	position: absolute;
	left: 1.375rem;
	top: 16.5rem;
	width: 4.7rem;
	animation:run 0.5s forwards infinite alternate;
}
.bx5{
	position: absolute;
	right: 1.375rem;
	top: 19.0rem;
	width: 4.7rem;
	animation:run 0.5s forwards infinite alternate;
}
.bx6{
	position: absolute;
	right: 1.375rem;
	top: 25.0rem;
	width: 4.7rem;
	animation:run 0.5s forwards infinite alternate;
}
.sbx{
	position: absolute;
	right: 6.25rem;
	top: 11.7rem;
	width: 2.075rem;
	animation:run 0.5s forwards infinite alternate;
}
.mb{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: none;
}
.tankuang1{
	width: 18.0rem;
	height: 13.8rem;
	background: url(../image/tan1.png) no-repeat center;
	background-size: 18.0rem 13.8rem;
	position: absolute;
	top: -1.25rem;
	left: 0;
	display: none;
}
.tankuang1 a{
	float: left;
	font-size: 0.6rem;
	color: #5c3e34;
	margin-top: 11.075rem;
	margin-left: 4.375rem;
	display: block;
}
.tankuang1 a:nth-child(1){
	margin-left: 4.5rem;
}
.tankuang2{
	width: 17.3rem;
	height: 24.35rem;
	background: url(../image/tan2.png) no-repeat center;
	background-size: 17.3rem 24.35rem;
	position: absolute;
	top: 0px;
	left: 0.35rem;
	display: none;
}
.tankuang2 a{
	display: block;
	font-size: 0.6rem;
	color: #5c3e34;
	float: left;
}
.tankuang2 a:nth-child(1){
	margin-left: 2.75rem;
	margin-top: 9.575rem;
}
.tankuang2 a:nth-child(2){
	margin-left: 6.375rem;
	margin-top: 9.575rem;
}
.tankuang2 a:nth-child(3){
	margin-left: 2.75rem;
	margin-top: 10.25rem;
}
.tankuang2 a:nth-child(4){
	margin-left: 6.375rem;
	margin-top: 10.25rem;
}
.tankuang2 em{
	display: block;
	margin: 22.95rem auto 0;
	width: 1.5rem;
	height: 1.375rem;
}
.tankuang3{
	position: absolute;
	width: 18.0rem;
	height: 8.5rem;
	top: 12.125rem;
	left: 0;
	background: url(../image/tan3.png) no-repeat center;
	background-size: 18.0rem 8.5rem;
	display: none;
}
.tankuang3 a{
	display: block;
	font-size: 0.6rem;
	color: #5c3e34;
	float: left;
	margin-left: 3.625rem;
	margin-top: 6.965rem
}
.tankuang3 a:nth-child(1){
	margin-left: 1.75rem;
}
.tankuang3 em{
	float: right;
	width: 1.625rem;
	height: 1.375rem;
}
.tankuang4{
	position: absolute;
	width: 16.525rem;
	height: 29.525rem;
	top: 2.125rem;
	left: 0.725rem;
	background: url(../image/tan4.png) no-repeat center;
	background-size: 16.525rem 29.525rem;
	display: none;
}
.tankuang4 a{
	display: block;
	font-size: 0.6rem;
	color: #5c3e34;
	float: left;
	margin-left: 6.875rem;
	margin-top: 8.295rem;
}
.tankuang4 a:nth-child(odd){
	margin-left: 2.375rem;
	
}
.tankuang4 a:nth-child(1),.tankuang4 a:nth-child(2){
	margin-top: 7.75rem;
}
.tankuang4 em{
	width: 1.625rem;
	height: 1.375rem;
	display: block;
	margin: 28.125rem auto 0;
}
.tankuang5{
	position: absolute;
	width: 16.525rem;
	height: 31.275rem;
	top: 2.125rem;
	left: 0.725rem;
	background: url(../image/tan5.png) no-repeat center;
	background-size: 16.5rem 31.275rem;
	display: none;
}
.tankuang5 a{
	display: block;
	font-size: 0.6rem;
	color: #5c3e34;
	float: left;
	margin-left: 6.875rem;
	margin-top: 9.1rem
}
.tankuang5 a:nth-child(odd){
	margin-left: 2.375rem;
}
.tankuang5 a:nth-child(1),.tankuang5 a:nth-child(2){
	margin-top: 7.75rem;
}
.tankuang5 a:nth-child(5),.tankuang5 a:nth-child(6){
	margin-top: 9.4rem;
}
.tankuang5 em{
	width: 1.625rem;
	height: 1.375rem;
	display: block;
	margin: 29.875rem auto 0;
}
.tankuang6{
	width: 17.45rem;
	height: 11.675rem;
	background: url(../image/tan6.png) no-repeat center;
	background-size: 17.45rem 11.675rem;
	position: absolute;
	top: 20.0rem;
	left: 0.275rem;
	display: none;
}
.ewm{
	width: 18.0rem;
	height: 5.625rem;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 5.125rem;
}
.ewm p{
	font-size: 0.425rem;
	color: #fff;
	font-weight: bold;
}
.ewm a{
	font-size: 0.65rem;
	color: #fff;
	margin-top: 4.25rem;
	display: block;
}
.fixf{
	width: 18.0rem;
	height: 1.7rem;
}
.foot{
	width: 18.0rem;
	height: 1.7rem;
	background: #1b1b1b;
	position: fixed;
	bottom: 0;
	z-index: 9999999999;
}
.foot .tel{
	float: left;
	font-size: 0.6rem;
	height: 100%;
	line-height: 1.7rem;
	margin-left: 1.0rem;
	color: #fff;
}
.foot .tel span{
	color: #e60012;
}
.foot .QQ_ask{
	float: right;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #fff;
	font-size: 0.6rem;
	margin-right: 1.0rem;
}
.bdsharebuttonbox{
	overflow: hidden;
	float: right;
	width: 2.5rem!important;
	height: 1.7rem!important;
	
}
.bdsharebuttonbox > a{
	font-size: 0.6rem!important;
	color: #fff!important;
	width: 1.375rem!important;
	height: 1.7rem!important;
	display: block!important;
	line-height: 1.7rem!important;
	padding: 0!important;
}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
	background-image: none!important;
}
.zixun{
	width: 2.625rem;
	height: 2.625rem;
	position: fixed;
	right: 0.05rem;
	top: 50%;
}
.zixun a{
	display: block;
	width: 100%;
	height: 100%;
}
.zixun a img{
	width: 2.625rem;
}